/* ↓ Normalizzazione foglio di stile ↓ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

.image {
  width: 100%;
  border-radius: 50%;
  vertical-align: middle;
}
.icon {
  display: flex;
  align-items: center;
}
.wrapper-page {
  position: relative;
  min-width: 768px;
}
.background-page-top {
  height: 12vh;
  background-color: #00bba2;
}
.background-page-bottom {
  height: 88vh;
  background-color: #d5d6ce;
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 95vh;
  transform: translate(-50%, -50%);
  background-color: olive;
  display: flex;
}
.aside {
  width: calc(100% / 3);
  background-color: brown;
}
/* ↓ .header della sezione .aside ↓ */
.aside__header {
  display: flex;
  flex-direction: column;
}
.aside__header__my-panel {
  width: 100%;
  padding: 0.5rem 0.5rem;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
}
.my-panel__profile {
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.my-panel__control-tools {
  display: flex;
  align-items: center;
}
[class*="icon my-panel"]:not(:last-child) {
  margin-right: 1rem;
}
.primary {
  width: calc((100%/3)*2);
  background-image: url(../img/background-primarysection.jpg);
  background-position: center;
  background-size: 80%;
}
