/* ↓ Normalizzazione foglio di stile ↓ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}

.image {
  width: 100%;
  border-radius: 50%;
  vertical-align: middle;
}
.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wrapper-page {
  position: relative;
  /* min-width: 768px; */
}
/* ↑ Normalizzazione foglio di stile ↑ */

/* ↓ corpo del documento ↓ */
.background-page-top {
  height: 13.6vh;
  background-color: #009688;
}
.background-page-bottom {
  height: 86.4vh;
  background-color: #d5d6ce;
}
.page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72.7vw;
  height: 95.8vh;
  transform: translate(-50%, -50%);
  background-color: olive;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}
.aside {
  width: 30%;
  background-color: brown;
}
/* ↓ .header della sezione .aside ↓ */
.aside__header {
  display: flex;
  flex-direction: column;
}
/* ↓ parte superiore dell'header, contiene i tools principali ↓ */
.aside__header__my-panel {
  padding: 1rem 1.5rem;
  background-color: #ededed;
  display: flex;
  justify-content: space-between;
}
.my-panel__profile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.my-panel__control-tools {
  display: flex;
  align-items: center;
}
[class*="icon my-panel"]:not(:last-child) {
  margin-right: 3rem;
}
/* ↑ parte superiore dell'header, contiene i tools principali ↑ */

.aside__header__activate-notifications {
  padding: 2.1rem 1.5rem;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
}
.active-notifications__icon {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.active-notifications__txt {
  display: flex;
  flex-direction: column;
}
.active-notifications__txt__paragraph {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.active-notifications__txt__link {
  font-size: 1.3rem;
  color: #456878;
}
.primary {
  width: 70%;
  background-image: url(../img/background-primarysection.jpg);
  background-position: center;
  background-size: 80%;
}
/* ↑ corpo del documento ↑ */
